#cards,
#start-button,
#deal-bank,
#chips {
  display: flex;
}

#cards {
  padding-bottom: 0.2rem;
}

.main-container {
  padding: 1rem 0.2rem;
  margin: 0;
  max-width: 100rem;
}

.betting-screen-container {
  padding-top: var(--extra-vertical-padding1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background: radial-gradient(
    circle,
    #f91e43 0%,    /* Középen az eredeti világosabb szín */
    #e01f3f 40%,   /* Kicsit sötétebb átmenet */
    #a31e34 100%   /* A legszélén mély sötétbordó */
  );
  /*background-color: #a31e34;*/
  border-radius: 0.75rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  border: 1px solid #ca8a04; /* yellow-600 */
  max-width: 60rem;
  margin: 0 auto;
}

.deal-bank {
  padding-top: var(--extra-vertical-padding05);
}

.bank {
  display: flex; /* Flexbox használata a belső elemek (pl. a nyertes üzenet) elrendezéséhez */
  align-items: center; /* Függőlegesen az elem tetejére igazítja a tartalmat */
  text-align: center;
  font-size: clamp(1.2rem, 1.2vw, 1.8rem);
  font-weight: 500;
  padding-top: var(--extra-vertical-padding2);
}

.bettype-button-group, .chips {
  display: flex;
  flex-wrap: wrap; /* Ez a kulcs: engedi az egymás alá ugrást */
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 1rem 0; /* Rövidítve: top/bottom 1rem, left/right 0 */
}

.target-selector-btn {
  color: black !important;
}

.target-selector-btn.active {
  filter: brightness(0.85) !important; /* Kicsit sötétebb lesz, mintha be lenne nyomva */
  border-style: inset !important; /* "Belső" keret, amitől benyomottnak tűnik */
  background-color: #a00d0d !important;
  outline: 1px solid #2a2720 !important; /* Vagy egy vékony keret, hogy látszódjon a választás */
  color: white !important;
}
