.cut-container {
  margin: 0 auto;
}

.card-icon {
  /* Itt a szélesség és magasság követi a betűméretet az em egységgel */
  width: clamp(1.2rem, 1.2vw, 2.2rem);
  height: clamp(1.2rem, 1.2vw, 2.8rem);
  vertical-align: middle;
  margin-right: 4px;
  transform: skewX(-15deg);
  /* Az SVG-nél a drop-shadow látványosabb, mint a text-shadow */
  filter: drop-shadow(2px 2px 1px rgba(75, 2, 2, 0.7));
}

.red-suit {
  color: #b409098d;
  font-size: clamp(2.0rem, 1.2vw, 3.2rem);
}

.black-suit {
  color: black;
  font-size: clamp(2.0rem, 1.2vw, 3.2rem);
}

.burning-card-display {
  perspective: 1000px; /* Ez adja meg a 3D hatás mélységét */
  display: flex;
  justify-content: center;
  align-items: center;
}

.burning-card {
  font-size: clamp(1.5rem, 1.2vw, 2.2rem);
  display: inline-block;
  transform-style: preserve-3d; /* Fontos: megtartja a 3D teret */
  transform-origin: center;
}

.burning-info-text {
  color: #eab308;
  margin-top: 1.8rem;
  font-size: clamp(1.0rem, 1.0vw, 1.5rem);
  display: flex;
  justify-content: center; /* Vízszintes középre igazítás */
  align-items: center;     /* Függőleges középre igazítás */
  gap: 15px;               /* Távolság a label és a szám között */
  width: 100%;             /* Vagy adj meg egy fix pixelt, pl: 300px */
  margin: 0 auto;
  padding-top: 2rem;
}

.cards {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  display: inline-block;
  width: 60px;
  text-align: right;
}

.deck-count {
  display: inline-block;
  width: 40px;
  text-align: left;
}
