/* A fő konténer */
.cut-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: radial-gradient(
    circle,
    #dd4962 0%, #d02e49 48%, #a9152d 100%
  );
  border-radius: 0.75rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  border: 1px solid #ca8a04; /* yellow-600 */
  max-width: 28rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.cut-title {
  color: #e4c458;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  font-weight: bold;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1em;
  padding-top: 0.5rem;
  white-space: nowrap; /* Sosem töri több sorba */
  display: block;
}

/* A Csúszka (Slider) stílusai */
.cut-slider {
  width: 100%;
  height: 0.8rem;
  overflow: visible;
  background-color: #dc2626;
  border-radius: 0.7rem;
  appearance: none;
  cursor: pointer;
  margin-bottom: 1.5rem;
  outline: none;
  transform: skewX(-55deg);
  clip-path: polygon(5%, 100% 0%, 100% 100%, 0% 75%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cut-slider::-webkit-slider-thumb {
  appearance: none;
  width: 0.3rem;
  height: 1.2rem;
  background-color: #e4c458;

  transform: skewX(-15deg);

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.cut-slider::-moz-range-thumb {
  appearance: none;
  width: 0.3rem;
  height: 1.2rem;
  background-color: #e4c458;
  transform: skewX(-15deg);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none; /* A Firefox alapból tesz rá keretet, ezt érdemes elvenni */
  border-radius: 0;
  cursor: pointer;
}

/* Információs szöveg */
.cut-info {
  color: white;
  margin-bottom: 1.5rem;
  font-size: clamp(1rem, 1.3vw, 1.4rem);
}

/* Gomb */
.cut-button {
  width: 100%;
  padding: 0.5rem;
  background: linear-gradient(to bottom, #eab308, #a16207);
  color: black;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.shoe-icon-container {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.high-heel-svg {
  width: 100%;
  height: 100%;
  /* Itt is alkalmazhatod a már megírt waveOnce animációt a stroke-ra! */
  filter: drop-shadow(0 0 5px rgba(212, 175, 55, 0.3));
}

.high-heel-svg path {
  /* Itt tudod animálni a körvonalat, ha szeretnéd */
  stroke-dasharray: 200;
  animation: drawShoe 3s ease-in-out forwards;
}

@keyframes drawShoe {
  from { stroke-dashoffset: 200; }
  to { stroke-dashoffset: 0; }
}
