.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem 2.5rem 2rem;
  background: radial-gradient(circle, #f4546e 0%, #d02e49 63%, #af1e37 100%);
  border-radius: 0.75rem;
  box-shadow: 20px 25px 25px -12px rgba(29, 17, 17, 0.5);
  border: 1px solid #ca8a04; /* yellow-600 */
  max-width: 28rem;
  margin: 0 auto;
  position: relative;
}

.winner-title {
  color: #e3c728;
  font-size: clamp(1.5rem, 1.2vw, 2.5rem);
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  padding-top: 2rem;
  min-height: 8rem;

  @media (min-width: 1024px) {
    min-height: 6rem;
  }
}

.card-display {
  padding: 1rem 0;
  display: flex; /* Ez teszi egymás mellé az elemeket */
  flex-direction: row; /* Alapértelmezett, sorba rendezi őket */
  gap: 1rem; /* Térköz a két kártya között */
  align-items: left-start;
  justify-content: flex-start;
}

.pl {
  padding-bottom: 2rem;
}

.game-card {
  font-size: clamp(1.5rem, 1.2vw, 2.2rem);
}

.label-side {
  color: #e3c728;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.label-container {
  display: flex;
  flex-direction: column;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
}

.sum-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
}

.pair-area-wrapper {
  display: flex;
  min-height: 2rem;
  color: #493701;
  align-items: flex-start;
}

.pair-area-wrapper.p-pair {
  align-items: flex-end;
}

.panda-overlay {
  position: absolute;
  top: 60%; /* A konténer közepére tolja */
  left: 50%;
  transform: translate(-50%, -50%); /* Pontosan középre igazítja */
  z-index: 10; /* Hogy a kártyák felett legyen */
}
